<html>
    <head>
        <title>
            What a game
        </title>
    </head>
    <body>
        <h1>
            {{Warrior.name}}
            <ul>
                <li> hp={{Warrior.hp}}</li>
                <li> hp={{Warrior.xp}}</li>
            </ul>
        </h1>
    </body>
</html>