<html>
    <head>
        <title>Hello</title>
    <body>
        <h1>Warrior</h1>
        <ul>
            {% for h in mywarrios %}
            <li><a href="detail/{{h.id}}">{{h}}</a></li>
            {% endfor %}
        </ul>
    </body>
    </head>

</html>